body {
  font-family: 'Roboto', 'Noto Sans TC', 'sans-serif';
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}

.container {
  max-width: 1296px;
  margin: auto;
  @include pad {
    max-width: 720px;
  }
  @include mobile {
    max-width: 345px;
  }
}