@for $i from 0 through $spacer-max-number {
  .p-#{$i} {
    padding: $spacer * $i;
  }
  .pl-#{$i} {
    padding-left: $spacer * $i;
  }
  .pt-#{$i} {
    padding-top: $spacer * $i;
  }
  .pr-#{$i} {
    padding-right: $spacer * $i;
  }
  .pb-#{$i} {
    padding-bottom: $spacer * $i;
  }
  .px-#{$i} {
    padding-left: $spacer * $i;
    padding-right: $spacer * $i;
  }
  .py-#{$i} {
    padding-top: $spacer * $i;
    padding-bottom: $spacer * $i;
  }
  .m-#{$i} {
    margin: $spacer * $i;
  }
  .ml-#{$i} {
    margin-left: $spacer * $i;
  }
  .mt-#{$i} {
    margin-top: $spacer * $i;
  }
  .mr-#{$i} {
    margin-right: $spacer * $i;
  }
  .mb-#{$i} {
    margin-bottom: $spacer * $i;
  }
  .mx-#{$i} {
    margin-left: $spacer * $i;
    margin-right: $spacer * $i;
  }
  .my-#{$i} {
    margin-top: $spacer * $i;
    margin-bottom: $spacer * $i;
  }
}

.w-0 {
  width: 0;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}

.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

// font-size
$font-size-base: 1rem;
.text {
  &-xs {
    font-size: $font-size-base * 0.75;
  }
  &-sm {
    font-size: $font-size-base * 0.875;
  }
  &-base {
    font-size: $font-size-base * 1;
  }
  &-lg {
    font-size: $font-size-base * 1.125;
  }
  &-xl {
    font-size: $font-size-base * 1.25;  //20px
  }
  &-2xl {
    font-size: $font-size-base * 1.5; //24px
  }
  &-3xl {
    font-size: $font-size-base * 1.75; //28px
  }
  &-4xl {
    font-size: $font-size-base * 2; //32px
  }
  &-5xl {
    font-size: $font-size-base * 2.25; //36px
  }
  &-5xl {
    font-size: $font-size-base * 2.5; //40px
  }
  &-6xl {
    font-size: $font-size-base * 2.75; //44px
  }
  &-7xl {
    font-size: $font-size-base * 3; //48px
  }
  &-8xl {
    font-size: $font-size-base * 3.25; //52px
  }
  &-9xl {
    font-size: $font-size-base * 3.5; //56px
  }
  &-10xl {
    font-size: $font-size-base * 3.75; //60px
  }
}

.border {
  &-top {
    border-top: 1px solid #fff;
  }
  &-right {
    border-right: 1px solid #fff;
  }
  &-bottom {
    border-bottom: 1px solid #fff;
  }
  &-left {
    border-left: 1px solid #fff;
  }
}

@include pad {
  @for $i from 0 through $spacer-max-number {
    .p-md-#{$i} {
      padding: $spacer * $i;
    }
    .pl-md-#{$i} {
      padding-left: $spacer * $i;
    }
    .pt-md-#{$i} {
      padding-top: $spacer * $i;
    }
    .pr-md-#{$i} {
      padding-right: $spacer * $i;
    }
    .pb-md-#{$i} {
      padding-bottom: $spacer * $i;
    }
    .px-md-#{$i} {
      padding-left: $spacer * $i;
      padding-right: $spacer * $i;
    }
    .py-md-#{$i} {
      padding-top: $spacer * $i;
      padding-bottom: $spacer * $i;
    }
    .m-md-#{$i} {
      margin: $spacer * $i;
    }
    .ml-md-#{$i} {
      margin-left: $spacer * $i;
    }
    .mt-md-#{$i} {
      margin-top: $spacer * $i;
    }
    .mr-md-#{$i} {
      margin-right: $spacer * $i;
    }
    .mb-md-#{$i} {
      margin-bottom: $spacer * $i;
    }
    .mx-md-#{$i} {
      margin-left: $spacer * $i;
      margin-right: $spacer * $i;
    }
    .my-md-#{$i} {
      margin-top: $spacer * $i;
      margin-bottom: $spacer * $i;
    }
  }
  .w-md-0 {
    width: 0;
  }
  .w-md-25 {
    width: 25%;
  }
  .w-md-50 {
    width: 50%;
  }
  .w-md-75 {
    width: 75%;
  }
  .w-md-100 {
    width: 100%;
  }

  .border-md {
    &-top {
      border-top: 1px solid #fff;
    }
    &-right {
      border-right: 1px solid #fff;
    }
    &-bottom {
      border-bottom: 1px solid #fff;
    }
    &-left {
      border-left: 1px solid #fff;
    }
  }
}

@include mobile {
  @for $i from 0 through $spacer-max-number {
    .p-sm-#{$i} {
      padding: $spacer * $i;
    }
    .pl-sm-#{$i} {
      padding-left: $spacer * $i;
    }
    .pt-sm-#{$i} {
      padding-top: $spacer * $i;
    }
    .pr-sm-#{$i} {
      padding-right: $spacer * $i;
    }
    .pb-sm-#{$i} {
      padding-bottom: $spacer * $i;
    }
    .px-sm-#{$i} {
      padding-left: $spacer * $i;
      padding-right: $spacer * $i;
    }
    .py-sm-#{$i} {
      padding-top: $spacer * $i;
      padding-bottom: $spacer * $i;
    }
    .m-sm-#{$i} {
      margin: $spacer * $i;
    }
    .ml-sm-#{$i} {
      margin-left: $spacer * $i;
    }
    .mt-sm-#{$i} {
      margin-top: $spacer * $i;
    }
    .mr-sm-#{$i} {
      margin-right: $spacer * $i;
    }
    .mb-sm-#{$i} {
      margin-bottom: $spacer * $i;
    }
    .mx-sm-#{$i} {
      margin-left: $spacer * $i;
      margin-right: $spacer * $i;
    }
    .my-sm-#{$i} {
      margin-top: $spacer * $i;
      margin-bottom: $spacer * $i;
    }
  }
  .w-sm-0 {
    width: 0;
  }
  .w-sm-25 {
    width: 25%;
  }
  .w-sm-50 {
    width: 50%;
  }
  .w-sm-75 {
    width: 75%;
  }
  .w-sm-100 {
    width: 100%;
  }

  .border-sm {
    &-top {
      border-top: 1px solid #fff;
    }
    &-right {
      border-right: 1px solid #fff;
    }
    &-bottom {
      border-bottom: 1px solid #fff;
    }
    &-left {
      border-left: 1px solid #fff;
    }
  }

  .text {
    &-sm-xs {
      font-size: $font-size-base * 0.75;
    }
    &-sm-sm {
      font-size: $font-size-base * 0.875;
    }
    &-sm-base {
      font-size: $font-size-base * 1;
    }
    &-sm-lg {
      font-size: $font-size-base * 1.125;
    }
    &-sm-xl {
      font-size: $font-size-base * 1.25; //20px
    }
    &-sm-2xl {
      font-size: $font-size-base * 1.5; //24px
    }
    &-sm-3xl {
      font-size: $font-size-base * 1.75; //28px
    }
    &-sm-4xl {
      font-size: $font-size-base * 2; //32px
    }
    &-sm-5xl {
      font-size: $font-size-base * 2.25; //36px
    }
    &-sm-5xl {
      font-size: $font-size-base * 2.5; //40px
    }
    &-sm-6xl {
      font-size: $font-size-base * 2.75; //44px
    }
    &-sm-7xl {
      font-size: $font-size-base * 3; //48px
    }
    &-sm-8xl {
      font-size: $font-size-base * 3.25; //52px
    }
    &-sm-9xl {
      font-size: $font-size-base * 3.5; //56px
    }
    &-sm-10xl {
      font-size: $font-size-base * 3.75; //60px
    }
  }
}
